@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}


/* .HomeContainer{
    background-color: #E6E7FD;
} */

/* html,
body{
    padding: 0;
    margin: 0;
    font-family: 'sharp', 'sans-serif';
} */



label {
  top: 0%;
  transform: translateY(-50%);
  font-size: 11px;
  color: rgba(37, 99, 235, 1);
}
.empty input:not(:focus) + label {
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
}
input:not(:focus) + label {
  color: rgba(70, 70, 70, 1);
}
input {
  border-width: 1px;
}
input:focus {
  outline: none;
  border-color: rgba(37, 99, 235, 1);
}




/* css for dropdown menu on header */
/*  */
  li>ul                 { transform: translatex(100%) scale(0) }
  li:hover>ul           { transform: translatex(101%) scale(1) }
  li > button svg       { transform: rotate(-50deg) }
  li > button svg { transform: rotate(-270deg) }

  .group:hover .group-hover\:scale-100 { transform: scale(1) }
  .group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
  .scale-0 { transform: scale(0) }
  .min-w-32 { min-width: 14rem }

/* end css for dropdown menu on header */

input[type="file"]::file-selector-button{
  display: none;
}

img{
  display:inline
}

input{
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: gray !important;
  border-radius: 0 !important;

}




